/* set element with id="trunk-background" with z-index 0 */
#trunk-background {
    z-index: -1;
    position: relative;
    left: 15%;
}

/* change font to Consolas */
#elle-wen {
    z-index: 2;
    color:aliceblue;
    position: relative;
    top: 350px;
    left:auto;
    font-size: 65px;
    font-family: Consolas;
}

#nav-bar {
    z-index: 1;
    position: relative;
    top: 30px;
    font-size: 20px;
}

/* change font to Consolas */
#nav-bar a {
    color: aliceblue;
    padding: 25px 30px;
    font-family: Consolas;
}

#nav-bar a.active {
    color: #924598;
}

#home-paragraph {
    z-index: 1;
    position: relative;
    top: 750px;
    font-size: 1.5rem;
    color: aliceblue;
    font-family: Consolas;
    /* change the padding to make more space from the two sides */
    padding: 0px 100px;
}

#project-paragraph {
    z-index: 1;
    font-size: 1.5rem;
    color: aliceblue;
    font-family: Consolas;
    padding: 0px 100px;
    margin-top: 50px; 
}

img {
    width: 70%;
    height: auto;
}

#interest-ul li {
    font-size: 1.2rem;
    margin-bottom: 18px; /* This adds space below each list item */
}

#major {
    font-size: 1.2rem;
    margin-bottom: 0px; /* This adds space below each list item */
}

#institution {
    font-size: .9rem;
}

body {
    background-color: #222426;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}