/* set element with id="trunk-background" with z-index 0 */
#trunk-background {
    z-index: -1;
    position: relative;
    left: 15%;
}

#elle-wen {
    z-index: 2;
    color:aliceblue;
    position: relative;
    top: 350px;
    left: 10%;
    font-size: 50px;
}

#nav-bar {
    z-index: 1;
    position: relative;
    top: 30px;
}

#nav-bar a {
    color: aliceblue;
    padding: 25px 20px;
}

body {
    background-color: #222426;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}